<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
  <meta charset="UTF-8" />
  <title>Header</title>

</head>
<body>
<nav th:fragment="navbar">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
  <div class="row">
    <div class="col-2" id="bookmark">
      <div><a class="revealedLinks" href="#">LOGIN</a></div>
      <div><a class="revealedLinks" href="#">REGISTER</a></div>
    </div>
    <nav class="col-10 navigationWrapper">
      <div class="logoWrapper">
        <img class="openbook" src="https://i.ibb.co/PmmBD24/Open-Book-01.png" alt="Open-Book-01">
        <p class="navtitle">Book Stack</p>
        <h3 class="subTitle">Find, Trade, Learn</h3>
      </div>
      <ul class="navigation">
        <li class="clickable"><a class="link" href="#">HOME</a></li>
        <li class="clickable"><a class="link" href="#">SEARCH</a></li>
        <li class="clickable"><a class="link" href="#">CREATE</a></li>
        <li class="clickable"><a class="link" href="#">EDIT</a></li>
      </ul>
    </nav>
  </div>
  <div class="row">
    <div class="col-md-1 register-left">
      <img class="stack" src="https://i.ibb.co/pLYRKpK/booklister-Bottom-Stack-01.png"
           alt="booklister-Bottom-Stack">
      <img class="book" src="https://i.ibb.co/0mwX5b4/booklister-01.png" alt="Why!!!"/>
    </div>
</nav>
</body>
</html>